/* :root {
  --container-width: 50%;
}

.Once {
  width: var(--container-width);
  border-radius: 3px;
  padding: 3px;
  height: 40px;
  border: 1px solid rgb(218, 218, 199);
}

.Once__icon {
  width: var(--container-width);
  height: auto;
}

.Once:active {
  background-color: lawngreen;
} */

label {
  position: relative;
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-left-color: #5cb85c;
  animation: rotate 2.2s linear infinite;
}
@keyframes rotate {
  50% {
    border-left-color: #9b59b6;
  }
  75% {
    border-left-color: #e67e22;
  }
  100% {
    transform: rotate(360deg);
  }
}
label .check-icon {
  display: none;
}
label .check-icon:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 8px;
  transform: scaleX(-1) rotate(135deg);
  height: 46px;
  width: 18px;
  border-top: 4px solid #050505;
  border-right: 4px solid #000000;
  transform-origin: left top;
  animation: check-icon 0.8s ease;
}
@keyframes check-icon {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 18px;
    opacity: 1;
  }
  40% {
    height: 46px;
    width: 18px;
    opacity: 1;
  }
  100% {
    height: 46px;
    width: 18px;
    opacity: 1;
  }
}
input {
  display: none;
}
input:checked ~ label .check-icon {
  display: block;
}
input:checked ~ label {
  animation: none;
  border-color: #000000;
  transition: border 0.5s ease-out;
}
